$mblue: #575DCE;
$mblue-100: #EEEFFA;
$mblue-200: #D5D7F3;
$mblue-300: #BCBEEB;
$mblue-400: #898EDD;
$mblue-500: #575DCE;
$mblue-600: #4E54B9;
$mblue-700: #34387C;
$mblue-800: #272A5D;
$mblue-900: #1A1C3E;

$myellow: #FCD268;
$myellow-100: #FFFBF0;
$myellow-200: #FEF4D9;
$myellow-300: #FEEDC3;
$myellow-400: #FDE095;
$myellow-500: #FCD268;
$myellow-600: #E3BD5E;
$myellow-700: #977E3E;
$myellow-800: #715F2F;
$myellow-900: #4C3F1F;

$morange: #FE9C7D;
$morange-100: #FFF5F2;
$morange-200: #FFE6DF;
$morange-300: #FFD7CB;
$morange-400: #FEBAA4;
$morange-500: #FE9C7D;
$morange-600: #E58C71;
$morange-700: #985E4B;
$morange-800: #724638;
$morange-900: #4C2F26;

$mgreen: #2AB768;
$mgreen-100: #EAF8F0;
$mgreen-200: #CAEDD9;
$mgreen-300: #AAE2C3;
$mgreen-400: #6ACD95;
$mgreen-500: #2AB768;
$mgreen-600: #26A55E;
$mgreen-700: #196E3E;
$mgreen-800: #13522F;
$mgreen-900: #0D371F;

$mgrey: #A0AEC0;
$mgrey-100: #F6F7F9;
$mgrey-200: #E7EBEF;
$mgrey-300: #D9DFE6;
$mgrey-400: #BDC6D3;
$mgrey-500: #A0AEC0;
$mgrey-600: #909DAD;
$mgrey-700: #606873;
$mgrey-800: #484E56;
$mgrey-900: #30343A;
$vs-state-active-bg: #575DCE !important;
